{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h2>Register</h2>
    <div class="row">
        <div class="col-md-8">
            <p>
                Create an account using your email address!
            </p>
            <p>
            </p>
            <hr class="solid">
            <p>
            </p>
            <form method="POST">
                {{ reg_form.csrf_token() }}
                <p>
                    {{ reg_form.username.label }} {{ reg_form.username(size=32) }}
                </p>
                <p>
                    {{ reg_form.email.label }} {{ reg_form.email(size=32) }}
                </p>
                <p>
                    {{ reg_form.password.label }} {{ reg_form.password(size=32) }}<br>
                    {{ reg_form.confirm_password.label }} {{ reg_form.confirm_password(size=32) }}
                </p>
                <input type="submit" value="Register">
            </form>
            {% for field, errors in reg_form.errors.items() %}
            <div class="alert alert-error">
            {{ reg_form[field].label }}: {{ ', '.join(errors) }}
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}