{% extends 'base.html' %}

{% block content %}
<main id="main" class="container">
    <div class="row justify-content-start">
        <div class="col-sm-1"></div>
        <div class="col-md-6">
            <h2>{{ bottle.label }}</h2>
        </div>
        <div class="col-sm-3">
            {% if current_user.id == bottle.user_id %}
            <div class="bottom-floating">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="button btn alert-dark" href="{{ url_for('main.edit_bottle', id=bottle.id) }}">Edit</a>
                    <form method="post" action="{{ url_for('main.delete_bottle', id=bottle.id) }}">
                        <input class="button btn alert-dark" type="submit" name="delete" value="Delete">
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-sm-4">
            {% if bottle.photo %}
            <img src="{{ url_for('static', filename='uploads/' + bottle.photo) }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            {% endif %}
        </div>
        <div class="col-md-6">
            <p></p>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        Owner
                    </td>
                    <td>
                        <a href="{{ url_for('main.collection', name=bottle.owner) }}">{{ bottle.owner }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Identifier</td>
                    {% if bottle.identifier %}
                    <td>{{ bottle.identifier }}</td>
                    {% else %}
                    <td>No identifier provided.</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Brewery</td>
                    <td>{{ bottle.maker }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ bottle.category }}</td>
                </tr>
                <tr>
                    <td>Region</td>
                    <td>{{ bottle.region }}</td>
                </tr>
                <tr>
                    <td>Bottle Status</td>
                    <td>{{ bottle.status }}</td>
                </tr>
                <tr>
                    <td>Price paid</td>
                    <td>{{ bottle.price }}</td>
                </tr>
                <tr>
                    <td>Date added</td>
                    <td>{{ moment(bottle.posted).format('MMMM Do YYYY') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}