{% extends 'base.html' %}

{% block content %}
<main id="main" class="container">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto"><h4>{{ _('%(total_num)s collection(s) available', total_num=total_num) }}</h4></div>
    </div>
    {% if users %}
    <ul class="list-group list-group-flush">
        {% for user in users.items %}
        <li class="list-group-item">
            <div class="row justify-content-md-left">
                <div class="col-auto">
                    <h3><a href="{{ url_for('main.collection', name=user.username) }}">{{ user.username }}</a></h3>
                    <h6 class="text-muted">
                        {{ _('%(user_bottles_count)s bottle(s), including:', user_bottles_count=user.bottles.count()) }}
                    </h6>
                </div>
            </div>
            <div class="container">
                <div class="d-flex flex-row align-items-center">
                    {% for bottle in user.bottles[:12] %}
                    <a href="{{ url_for('main.single_bottle', id=bottle.id) }}">
                        {% if bottle.photo %}
                        <img src="{{ url_for('static', filename='uploads/' + bottle.photo) }}" height="60" vspace="10"
                        hspace="5">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/nihonshu.png') }}" alt="" height="60"
                             vspace="10" hspace="5">
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <br>
        </li>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% for page in users.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}
                {% if page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('main.all_collections', page=page) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        ...
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% else %}
    <div class="alert alert-danger">
        <p>{{ _('Looks like nobody has created a collection yet!') }}</p>
    </div>
    {% endif %}
</main>
{% endblock %}